@model List<AssociationsModel>

<div class="text-center">
    <h5 class="display-5">Controle de associações</h5>
</div>


<select class="form-select" aria-label="Default select example">
    <option selected>Pesquisar por...</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
</select>


<table class="table table-striped table-hover mt-5">
    <thead>
        <tr>
            <th>Ver perfil</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Documento</th>
            <th>Instituição</th>

            <th>Ação</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td><a href="#">@i.User.Name</a></td>
                <td>@i.User.Name</td>
                <td>@i.User.Cpf</td>
                <td><a href="#">Documento</a></td>
                <td>@i.Institution.InstitutionName</td>
                <td>
                    <a class="btn btn-success" asp-action="UpdateAssociation" asp-controller="AssociationsControl" asp-route-id=@i.User.Id>Aprovar usuário</a>
                    <button class="btn btn-danger">Reprovar</button>
                </td>

            </tr>
        }

        @if (TempData["successAssociation"] != null)
        {
            <div class="alert alert-success mt-5">
                @TempData["successAssociation"]
            </div>
        }


    </tbody>
</table>